<!DOCTYPE html>
<html>

<head>
    {% load static %}
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>一直抽獎一直爽</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
    <link rel="stylesheet" type="text/css" href="{% static 'Gallery/templatemo-style.css' %}">
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'Gallery/images/instagram-style.png' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
                            <img src="{% static 'Gallery/images/simple-house-logo.png'%}" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">一直抽獎一直爽</h1>
								<h6 class="tm-site-description">Let's win the jackpot!</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title"></h2>
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<div id="tm-gallery-page-pizza" class="tm-gallery-page"/>
                    {% for ig_post in object_list %}
                        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
					    	<figure>
                                <a href="{{ig_post.url}}">
                                    {% with 'Gallery/images/'|add:ig_post.url_pic as image_static %}
                                    <img src="{% static image_static %}" alt="Image" class="img-fluid tm-gallery-img" />
                                    {% endwith %}
					    		</a>
					    		<figcaption>
                                    <h4 class="tm-gallery-title">{{ig_post.follow_account}}</h4>
                                    <p class="tm-gallery-description">{{ig_post.content}}</p>
					    		</figcaption>
					    	</figure>
					    </article>
                    {% endfor %}
				</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2020 Simple House 
            
            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
		</footer>
	</div>
    <script src="{% static 'Gallery/jquery.min.js' %}"></script>
    <script src="{% static 'Gallery/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>
