<!DOCTYPE html>
<html>

<head>
    {% load static %}
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>一直抽獎一直爽</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
    <link rel="stylesheet" type="text/css" href="{% static 'Gallery/templatemo-style.css' %}">
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="img/simple-house-01.jpg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="img/simple-house-logo.png" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">一直抽獎一直爽</h1>
								<h6 class="tm-site-description">Let's enter a drawing!</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<!--
								<li class="tm-nav-li"><a href="index.html" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="about.html" class="tm-nav-link">About</a></li>
								<li class="tm-nav-li"><a href="contact.html" class="tm-nav-link">Contact</a></li>
							    -->
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to the drawing project</h2>
				<!--<p class="col-12 text-center">Total 3 HTML pages are included in this template. Header image has a parallax effect. You can feel free to download, edit and use this TemplateMo layout for your commercial or non-commercial websites.</p>-->
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
					<!--
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">1</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">2</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">3</a></li>
					-->
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-pizza" class="tm-gallery-page">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<a href="https://www.instagram.com/p/CP0W-BVNLJx/">
								<img src="img/gallery/pic-1.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							</a>
							<figcaption>
								<h4 class="tm-gallery-title">@chingfoodshare @achingfoodie @chihyun_mk</h4>
								<p class="tm-gallery-description">#宅配美食#ig抽獎#抽獎#抽獎文#台北#內湖#新北#新莊#板橋#中和#三重#桃園#中壢#南投#嘉義#雲林#彰化#高雄#屏東#台北美食#內湖美食#新北美食#新莊美食#板橋美食#中和美食#桃園美食#中壢美食#彰化美食#高雄美食</p>
							</figcaption>
						</figure>
					</article>
						<figure>
							<a href="https://www.instagram.com/p/CPx1PksH8o5/">
							    <img src="img/gallery/pic-3.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							</a>
							<figcaption>
								<h4 class="tm-gallery-title">@iamirenesu @pchome24h @susu_wonder</h4>
								<p class="tm-gallery-description">#susu吃全台#susu買好物.#抽獎 #PChome #21週年 #生日不過疫情快過 #鬆餅 #鬆餅機 #台北美食 #台中美食 #嘉義美食 #台南美食 #高雄美食 #屏東美食 #宅配 #用嘴巴環遊世界 #susu流口水</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<a href="https://www.instagram.com/p/CP2gsG7lJcC/">
							    <img src="img/gallery/pic-4.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							</a>
							<figcaption>
								<h4 class="tm-gallery-title">@hemecosmetics</h4>
								<p class="tm-gallery-description">#抽獎</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<a href="https://www.instagram.com/p/CP3F0m3jW25/">
							    <img src="img/gallery/pic-5.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							</a>
							<figcaption>
								<h4 class="tm-gallery-title">@07vanessa18 @jill.eric</h4>
								<p class="tm-gallery-description">#抽獎 #抽獎活動#好物分享#貓控 #貓咪#手機殼#手機殼分享#airpods #iphone#抽獎文</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<a href="https://www.instagram.com/p/CP0W-BVNLJx/">
								<img src="img/gallery/pic-1.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							</a>
							<figcaption>
								<h4 class="tm-gallery-title">@chingfoodshare @achingfoodie @chihyun_mk</h4>
								<p class="tm-gallery-description">#宅配美食#ig抽獎#抽獎#抽獎文#台北#內湖#新北#新莊#板橋#中和#三重#桃園#中壢#南投#嘉義#雲林#彰化#高雄#屏東#台北美食#內湖美食#新北美食#新莊美食#板橋美食#中和美食#桃園美食#中壢美食#彰化美食#高雄美食</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<a href="https://www.instagram.com/p/CP28IT_nzgq/">
							    <img src="img/gallery/pic-2.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							</a>
							<figcaption>
								<h4 class="tm-gallery-title">@soundresin_place @love80613 @w.w.workshop</h4>
								<p class="tm-gallery-description">#台北 #台北美食 #台北咖啡廳 #忠孝新生站 #忠孝新生美食 #溫溫 #河豚🐡吃台北 #河豚🐡吃忠孝新生 #taipei #taipeicity #taipeifood #taipeicafe #yummyday #yummyfood #河豚🐡抽防疫禮盒 #抽獎 #抽獎活動 #巴斯克</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<a href="https://www.instagram.com/p/CPx1PksH8o5/">
							    <img src="img/gallery/pic-3.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							</a>
							<figcaption>
								<h4 class="tm-gallery-title">@iamirenesu @pchome24h @susu_wonder</h4>
								<p class="tm-gallery-description">#susu吃全台#susu買好物.#抽獎 #PChome #21週年 #生日不過疫情快過 #鬆餅 #鬆餅機 #台北美食 #台中美食 #嘉義美食 #台南美食 #高雄美食 #屏東美食 #宅配 #用嘴巴環遊世界 #susu流口水</p>
							</figcaption>
						</figure>
					</article>
				</div> <!-- gallery page 1 -->
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2020 Simple House 
            
            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
		</footer>
	</div>
    <script src="{% static 'Gallery/jquery.min.js' %}"></script>
    <script src="{% static 'Gallery/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>
